# Goreleaser
dist/
.github/release-notes.md

# Tools
bin/

# Build
appuio-cloud-agent
*.out

# Docs
.cache/
.public/
node_modules/

# kind
.kind/

# tem cert
webhook-certs/

# fuzz testcases
*/testdata/fuzz/

# runing locally
kubeconfig-control-api
